div.column.small-12.medium-12.large-11
    div(data-responsive-toggle='responsive-footer', data-hide-for='large').row.expanded.align-center
        div.column.small-12
            ul.menu.align-center
                +listItem('newletter')
                +listItem('aides')
                +listItem('apps')
                +listItem('suivez-nous')
        div.column.small-12
            ul.menu.align-center
                +listItem('mention-légales')
                +listItem('carrières')
                +listItem('plan du site')
        div.column.small-12
            ul.menu.align-center
                +listItem('langues')
    div.row.expanded#responsive-footer
        div.column.small-12.medium-12.large-12.align-center
            p Louis Vuiton
        div.column.small-12.medium-12.large-12
            ul.menu.stacked-for-medium
                +listItem('langues')
                +listItem('newletter')
                +listItem('aides')
                +listItem('apps')
                +listItem('suivez-nous')
                +listItem('mention-légales')
                +listItem('carrières')
                +listItem('plan du site')

